
body {
    background-color: black;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.send_message_container {
    bottom: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
}
textarea {
    width: 50%;
    font-size: xx-large;
    height: 15vh;
}
#posting_button {
    padding: 10px;
    margin: 10px;
}
#reload_page_container {
    border: solid;
    border-color: rgb(63, 63, 63);
    border-width: 1px;
    position: fixed;
    bottom: 1;
    right: 0;
    background-color: black;
}
#feed_content{
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}
article {
    border: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 85vw;
    align-items: center;
    display: flex;
    flex-direction: column;
padding: 20px;}
.post_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.msg {
    width: 100%;
}
.likebutton {
    border: solid;
    border-radius: 10px;
    border-color: rgb(63, 63, 63);

}
.dislikebutton {
    border: solid;
    border-radius: 10px;
    border-color: rgb(63, 63, 63);

}
.time {
    width: 100%;
}
.post_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.points {
    width: 50%
}
.likebutton {
    width: 100%;
    font-size: xx-large;
}
.dislikebutton {
    width: 100%;
    font-size: xx-large;
}

#see_more_button {
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;border: solid;
    border-width: 1px;
    border-color: rgb(63, 63, 63);
    
}
